[% WRAPPER wrapper.html.tt2 %]
<p align="center">
  <span class="style2">
    <strong>Links</strong>
    <span class="style3">.</span>
    <br />
    <br />
    [% FOR link IN links %]
      <a href="[% link.href %]">[% link.name %]</a><br />
      [% IF link.desc %]
        [% link.desc %]<br />
      [% END %]
      <br />
    [% END %]
  </span>
</p>
[% END %]
